<footer class="g-footer">
    <section>{{@blog.title}} © {{date now format="YYYY"}}</section>
    <nav class="site-footer-nav">
        {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
        {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
        <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
    </nav>
    <section>Powered by <a href="https://ghost.org">Ghost</a> | <a href="https://github.com/eastpiger/ghost-theme-H2O">Theme H2O</a></section>
</footer>
